[Unit]
Description=Automatic screen lock
BindsTo=graphical-session.target

[Service]
ExecStart=/usr/bin/xautolock -time 10 -locker '/home/jelten/bin/screenlock'
Restart=on-failure

[Install]
WantedBy=graphical-session.target
