[Unit]
Description=xcompmgr
BindsTo=graphical-session.target
ConditionEnvironment=!WAYLAND_DISPLAY

[Service]
ExecStart=/usr/bin/xcompmgr
Restart=on-failure

[Install]
WantedBy=graphical-session.target
