[include]
	path = ~/.gitconfig.local
[color]
	status = auto
	branch = auto
	interactive = auto
	diff = auto
[merge]
	tool = vimdiff
[diff]
	tool = vimdiff
	colorMoved = default
	wsErrorHighlight = all
	mnemonicPrefix = true
	renames = true
	algorithm = histogram
[push]
	default = simple
[help]
	autocorrect = 1
[rebase]
	autosquash = true
	autostash = true
[alias]
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(reset) (%C(bold blue)%an%Creset <%C(yellow)%aE%C(reset)>)' --abbrev-commit --date=relative
	slap = blame -w
	c = commit
	s = status
	cm = commit -m
	r = rebase
	ri = rebase -i --autostash
	a = add
	ap = add -p
	ca = commit --amend
	u = ubuntu
[fetch]
	fsckobjects = true
[transfer]
	fsckobjects = true
[receive]
	fsckobjects = true
[rerere]
	enabled = true
[pull]
	ff = only
[init]
	defaultBranch = master
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[tag]
	sort = version:refname
[commit]
	verbose = true
[column]
	ui = auto
[branch]
	sort = -committerdate
[tig]
	ignore-case = smart-case
	mailmap = true
