# jj's .inputrc
# Copyright (c) 2014-2016 Jonas Jelten <jj@stusta.net>
#
# used by all readline-enabled programs (e.g. python, bash)

# enable partial history search using the arrow keys

"\C-x\C-r": re-read-init-file
"\C-xd": dump-functions

"\e[A": history-search-backward
"\e[B": history-search-forward
"\e[C": forward-char
"\e[D": backward-char
