! .Xresources, optimized for urxvt, to make it vergil
!
! Copyright (c) 2011 Michael Enßlin <michael@ensslin.cc>
! Copyright (c) 2011-2018 Jonas Jelten <jj@sft.mx>
!
! released under GNU GPLv3 or later


!!!!!!!!!!!!!!!!!!!!!!!!!!!
! font and hidpi settings
!!!!!!!!!!!!!!!!!!!!!!!!!!!

! highdpi!
Xft.dpi: 144

! subpixel hinting
! only for non-fontconfig-aware applications, see .config/fontconfig and eselect fontconfig
Xft.antialias:  true
Xft.rgba:       rgb
Xft.hinting:    true
Xft.autohint:   false
Xft.hintstyle:  hintfull
Xft.lcdfilter:  lcddefault

Xcursor.theme: Simple-and-Soft


!!!!!!!!!!!!!!!!!!!!!!
! urxvt stuff
!!!!!!!!!!!!!!!!!!!!!!

URxvt.depth: 32
URxvt.background: rgba:0000/0000/1800/dddd
URxvt.foreground: White

! italic bold and underline colors
URxvt.colorIT: #87af5f
URxvt.colorBD: #d7d7d7
URxvt.colorUL: #87afd7

! more readable colors
! blue:
URxvt.color4: rgb:5c/5c/ff
URxvt.color12: rgb:5c/5c/ff
! pink:
URxvt.color5: rgb:88/02/88
URxvt.color13: rgb:ff/00/ff
! red:
URxvt.color1: rgb:cd/00/00
URxvt.color9: #E73131

! see /usr/share/fonts/misc/fonts.alias
URxvt.font: xft:DejaVuSansMono:size=10:antialias=true,xft:Noto Color Emoji

! scrollbar style - rxvt (default), plain (most compact), next, or xterm
URxvt.scrollstyle: plain
URxvt.scrollBar_right: true

! funny unwanted keycombo
URxvt*iso14755: False
URxvt*iso14755_52: False

! active perl extensions (urxvt-perls)
URxvt.perl-ext-common: default,url-select,clipboard,keyboard-select,matcher
!,font-size

! lol transparency
URxvt*transparent: false

! 0 to 99 darkens, 101 to 200 lightens
URxvt*shading: 20

! select the last url with C-S-u.
! j:down, k:up, ret:open, o:open and keep url selected,
! y:copy url
URxvt.keysym.S-C-U: perl:url-select:select_next
URxvt.underlineURLs: true
URxvt.url-select.underline: true
URxvt.matcher.button: 1
URxvt.url-launcher: /usr/bin/xdg-open

URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
URxvt.keysym.Control-Meta-c: builtin-string:
URxvt.keysym.Control-Meta-v: builtin-string:


URxvt.keysym.Shift-Control-S: perl:keyboard-select:search
URxvt.keysym.Shift-Control-A: perl:keyboard-select:activate
URxvt.keysym.M-u:             perl:url-select:select_next
URxvt.keysym.M-Escape:        perl:keyboard-select:activate
URxvt.keysym.M-s:             perl:keyboard-select:search
URxvt.keysym.Shift-Up:        command:\033]720;1\007
URxvt.keysym.Shift-Down:      command:\033]721;1\007
URxvt.keysym.Shift-Home:      command:\033]720;999999\007
URxvt.keysym.Shift-End:       command:\033]721;999999\007

! font size updating
URxvt.keysym.M-Up:     perl:font-size:increase
URxvt.keysym.M-Down:   perl:font-size:decrease
!URxvt.keysym.M-C-7: command:\033]710;-*-terminus-medium-*-*-*-28-*-*-*-*-*-*-*\007\033]711;-*-terminus-bold-*-*-*-28-*-*-*-*-*-*-*\00

! window bell via white flash
URxvt.visualBell: false

! set urgent hint when bell rings
URxvt.urgentOnBell: True

! better scrolling behaviour
URxvt.scrollTtyOutput: false
URxvt.scrollTtyKeypress: true
URxvt.scrollWithBuffer: true

! when secondary application scrolls, dont remember lines
URxvt.secondaryScroll: false

! enables secondary scrolling in e.g. man
URxvt.secondaryWheel: true
URxvt.secondaryScreen: true


! delimiter chars for double click selection
Urxvt.cutchars: ()*,<>[]{}|

! scrollback buffer size
URxvt.saveLines: 262144


!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
! xterm stuff
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

! colors
XTerm*background:             rgb:00/00/18
XTerm*foreground:             rgb:ff/ff/ff
XTerm*pointerColor:           white
XTerm*pointerColorBackground: black

! fonts
XTerm*faceName: DejaVuSansMono:size=10:antialias=true

! utf8 ftw
XTerm*utf8: true
XTerm*locale: true

! fix alt key
XTerm*metaSendsEscape: true

! scrollback
Xterm*saveLines:        65536
XTerm*scrollBar:        true
XTerm*rightScrollBar:   true
XTerm*scrollTtyOutput:  false
XTerm*borderWidth: 0
